/* ============= GOOGLE FONTS ============= */
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500;600&display=swap');

:root {

/* ============= COLORS ============= */
--hue: 207;
--sat: 90%;
--lig: 61%;

--color-main: hsl(var(--hue), var(--sat), var(--lig));
--color-main-alt: hsl(var(--hue), var(--sat), 57%);
--title-color: hsl(var(--hue), 12%, 15%);
--text-color: hsl(var(--hue), 12%, 48%);
--body-color: hsl(var(--hue), 100%, 99%);
--container-color: #fff;

  /* ============= SIZES ============= */
  --body-font: 'Exo', sans-serif;
  --h1-size: 2rem;
  --h2-size: 1.50rem;
  --h3-size: 1.25rem;
  --default-size: 0.988rem;
  --sm-size: 0.831rem;
  --smx-size: 0.771rem;
  --transition: 0.4s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background-color: var(--body-color);
}

::-webkit-scrollbar-thumb {
  border-radius: 5rem;
  background-color: var(--color-main-alt);
}

body {
  background-color: var(--body-color);
  font-family: var(--body-font);
}

section.section {
  padding-top: 7rem;
}

h1 {
  font-size: var(--h1-size);
  color: var(--title-color);
}

h2 {
  font-size: var(--h2-size);
  color: var(--title-color);
}

h3 {
  font-size: var(--h3-size);
  color: var(--title-color);
}
